# Type: struct or map
Type="struct"
# MethodName: (optional) method name of the validator
MethodName="Validate"

# Validators.XXX: Validator information for struct XXX
[Validators.Address]
# Package: Validator package name
Package = "address"
# Name: (optional) struct identifier. key name is substituted as default
Name = "Address"
# Dir: (optional) Directory to output validator source code. Package name is default
# FileName: (optional) Validator file name. "[Package]_validator.go" is the default
# FileMode: (optional) file mode of the validator source code 0644 is default
# Import: (optional) Add additional packages when validator source code imports them
Import = ["regexp"]
# Properties: validators for each field of struct
Properties.Street.type = "string"
Properties.Street.required = true
Properties.Street.Length = [5,50]
Properties.City.type = "string"
Properties.City.required = true
Properties.City.Length = [5, 50]
Properties.State.type = "string"
Properties.State.required = true
Properties.State.match = "^[A-Z]{2}$"
Properties.Zip.type = "string"
Properties.Zip.required = true
Properties.Zip.match = "^[0-9]{5}$"


